.panel {
    position: relative;
}

.panel-default {

    border: 0;

    > .panel-heading {
        border: 0;
        position: relative;
        z-index: 2;

        > * {
            color: $brand-primary;
            background-color: $body-bg;
            position: absolute;
            padding: 3px 10px;
            border-radius: 5px;
        }

        > .panel-title {
            top: 1px;
            left: 10px;
        }

        > .panel-info-heading {
            right: 10px;
            top: 2px;
        }
    }

    > .panel-body {
        position: relative;
        z-index: 1;
        border: 1px solid $brand-primary;
        border-radius: 8px;
    }
}

.scroll-bars {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    > .panel {
        position: absolute;
        top: 14px;
        left: 0;
        right: 0;
        bottom: 14px;
        width: 100%;
        height: auto;

        > .panel-heading > .panel-title {
            line-height: 1.42857143;
            top: 3px;
        }

        > .panel-body {
            border-right: 0;
            border-left: 0;
            height: 100%;
            background-color: $body-bg;
            padding: 20px;
        }
    }
}
