<div class="game-pane">
    <div class="row-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Places</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-justified">
                    <li><a href="#/map" class="btn btn-primary btn-block">Map</a></li>
                    <li><a href="#/pack" class="btn btn-primary btn-block">Pack</a></li>
                    <li><a href="#/pickpocket/1" class="btn btn-primary btn-block">Pickpocket</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
