<div class="game-pane">
    <div class="row-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">The Wastes</h4>
            </div>
            <div class="panel-body">
                <div class="map-pane">
                    <div class="map-contents">
                        <div class="map-image">
                            <button ng-repeat="region in regions"
                                ng-click="preview(region)"
                                class="btn btn-default map-pin"
                                type="button"
                                style="left: {{region.xcoord}}px; top: {{region.ycoord}}px;">
                                <span class="icon">/</span>
                            </button>
                        </div>
                        <div class="map-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-4">
        <div ng-if="!showcase" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">--</h4>
            </div>
            <div class="panel-body">
                <div class="showcase-description">
                    Select a location to travel.
                </div>
            </div>
        </div>
        <div ng-if="showcase" class="panel panel-default showcase">
            <div class="panel-heading">
                <h4 class="panel-title">{{showcase.name}}</h4>
            </div>
            <div class="panel-body">
                <div class="buttons">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="btn btn-primary btn-block" href="#/region/{{showcase.regionId}}">Travel</a>
                        </div>
                        <div class="col-xs-6">
                            <span class="highlight">{{showcase.explored}}% Explored</span>
                        </div>
                    </div>
                </div>
                <div class="showcase-description">
                    {{showcase.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="row-1">
        <div class="buttons">
            <div class="row">
                <div class="col-xs-6">
                    <a class="btn btn-primary btn-block" href="#/home">Quests</a>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default btn-block" ng-click="back()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
