<div class="game-pane vessel">
    <div class="row-5">
        <st-inventory owner="player" action="give"></st-inventory>
    </div>
    <div class="row-6">
        <st-inventory owner="npc" action="steal"></st-inventory>
    </div>
    <div class="row-1">
        <div class="buttons">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#/home" class="btn btn-block btn-primary">Take All</a>
                </div>
                <div class="col-xs-6">
                    <a href="#/home" class="btn btn-block btn-default">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
